{% extends 'base.html.twig' %}

{% block title %}Nft index{% endblock %}

{% block body %}
    <h1>Nft index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>Title</th>
                <th>Src</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nft in nfts %}
            <tr>
                <td>{{ nft.id }}</td>
                <td>{{ nft.price }}</td>
                <td>{{ nft.createdAt ? nft.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nft.title }}</td>
                <td>{{ nft.src }}</td>
                <td>{{ nft.description }}</td>
                <td>
                    <a href="{{ path('app_nft_show', {'id': nft.id}) }}">show</a>
                    <a href="{{ path('app_nft_edit', {'id': nft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nft_new') }}">Create new</a>
{% endblock %}
